<div class="flex justify-between">
<app-menu-lateral></app-menu-lateral>
<div class="w-full h-[669px] content-center bg-white">

  <div class="w-[1050px] ml-[209px] mt-[45px]">
      <article class="text-wrap">
          <p class="font-roboto font-bold text-5xl">Cadastro de informações sobre a escola</p>

          <p class="font-roboto font-semibold text-2xl">Bem-vindo ao Civitas!</p>

          <div class="w-[596px] mt-[25px] mb-[30px]">
              <p class="font-roboto font-medium text-[16px]">Aqui, você tem à disposição todas as ferramentas necessárias para gerenciar as informações da escola de forma rápida e eficiente.<br>Conte conosco para organizar, otimizar e fortalecer sua comunicação com pais e responsáveis.<br>Estamos prontos para ajudar você em cada passo do caminho!
              </p>
          </div>
      </article>

      <div class="w-[260px] text-xs mb-[30px]">
          <app-button title="Ficou com alguma dúvida? Clique aqui!" [buttonStyle]="'full-roxo-claro'"></app-button>
      </div>
  </div>

  <app-card-cadastro></app-card-cadastro>

</div>
</div>



