<div class="w-full h-[669px] content-center bg-white">

    <div class="w-[1050px] ml-[209px] mt-[45px]">
        <article class="text-wrap">
            <p class="font-roboto font-bold text-5xl">Cadastro de informações sobre a escola</p>
        
            <div class="w-[596px] mt-[30px] mb-[10px]">
                <p class="font-roboto font-medium text-[16px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae elit tortor. Nunc non rhoncus urna. Aliquam blandit non ex non tincidunt. Quisque at dolor vitae ante rhoncus finibus aliquet vitae risus. Fusce bibendum, nisi et suscipit tempus, dui odio laoreet mauris, accumsan<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae elit tortor. Nunc non rhoncus urna. Aliquam blandit non ex non tincidunt. Quisque at dolor vitae ante rhoncus finibus aliquet vitae risus. Fusce bibendum, nisi et suscipit tempus, dui odio laoreet mauris, accumsan</p>
            </div>
        </article>
    
        <div class="w-[260px] text-xs mb-[40px]">
            <app-button title="Ficou com alguma dúvida? Clique aqui!" [buttonStyle]="'full-roxo-claro'"></app-button>
        </div>
    </div>

    <app-card-cadastro></app-card-cadastro>

</div>
