<div>
  <form [formGroup]="formulario" class="w-full ">
      <div class="mt-4 sm:mt-4">
      <app-input-component
        placeholder="Nome do aluno"
        label="Nome completo"
        formControlName="nomeAluno"
        [showError]="
       ( formulario.controls['nomeAluno'].invalid &&
        formulario.controls['nomeAluno'].touched) || showError
        "></app-input-component>
      <p *ngIf="
        formulario.controls['nomeAluno'].errors?.['required'] &&
        formulario.controls['nomeAluno'].touched
      " class="text-red-500">
        O nome do aluno é obrigatório.
      </p>
    </div>

    <div class="mt-[14px] sm:mt-[18px]">
      <app-input-component
        placeholder="123456789"
        minlength="11"
        type="number"
        label="Número da Matrícula"
        formControlName="matricula"
        [showError]="(  formulario.controls['matricula'].invalid &&
        formulario.controls['matricula'].touched ) || showError
      "></app-input-component>
      <p *ngIf="
        formulario.controls['matricula'].errors?.['required'] &&
        formulario.controls['matricula'].touched
      " class="text-red-500">
        O número da matrícula é obrigatório.
      </p>
    </div>

    <div class="mt-[14px] sm:mt-[18px]">
      <app-select label="Turma" [data]="dataTurma" formControlName="turma"
      [showError]="(formulario.controls['turma'].invalid  &&
      formulario.controls['turma']?.touched) || showError">
        </app-select>
      <p *ngIf="
        formulario.controls['turma'].errors?.['required'] &&
        formulario.controls['turma'].touched
      " class="text-red-500">
        A turma é obrigatória.
      </p>
    </div>

    <div class="mt-[14px] sm:mt-[18px]">
      <app-input-component
        placeholder="123.456.789-00"
        type="number"
        label="CPF do responsável"
        formControlName="CPF"
        minlength="11"
        [showError]="
        (formulario.controls['CPF'].errors?.['required'] ||
        formulario.controls['CPF'].errors?.['pattern']) &&
        formulario.controls['CPF'].touched"></app-input-component>
      <p *ngIf="
        formulario.controls['CPF'].errors?.['required'] &&
        formulario.controls['CPF'].touched
      " class="text-red-500">
        O CPF é obrigatório.
      </p>
      <p
        *ngIf="formulario.controls['CPF'].errors?.['pattern'] && formulario.controls['CPF'].touched"
        class="text-red-500">
        O CPF deve ter no mínimo 11 dígitos.
      </p>
    </div>

    <div class="mt-[14px] sm:mt-[18px]">
      <app-input-component
        placeholder="responsavel@mail.com"
        type="email"
        label="E-mail do responsável"
        formControlName="email"
        [showError]="
        (formulario.controls['email'].errors?.['required'] ||
        formulario.controls['email'].errors?.['email']) &&
        formulario.controls['email'].touched"></app-input-component>
      <p *ngIf="
        formulario.controls['email'].errors?.['required'] &&
        formulario.controls['email'].touched
      " class="text-red-500">
        O e-mail é obrigatório.
      </p>
      <p *ngIf="
        formulario.controls['email'].errors?.['email'] &&
        formulario.controls['email'].touched
      " class="text-red-500">
        Insira um endereço de e-mail válido.
      </p>
    </div>

    <div class="w-1/2 m-auto mt-3">
      <app-button buttonStyle="full" title="Cadastrar"
        (click)="submit()"></app-button>
    </div>
    <lib-toastify-toast-container
      [pauseOnHover]="false"></lib-toastify-toast-container>
  </form>
</div>
