<div class="flex justify-center items-center mt-5" *ngIf=" formulario">
    <form [formGroup]="formulario" class=" w-[70%] md:w-[40%] sm:w-[70%]">

        <div class="mt-4 sm:mt-4">
            <app-select label="Ano Letivo" formControlName="anoEscolar" id="anoEscolar" [showError]="getShowError('anoEscolar')">
            </app-select>
            <p *ngIf="getErrorMessage('anoEscolar', 'Ano Letivo')" class="text-red-500">
                {{ getErrorMessage('anoEscolar', 'Ano Letivo')}}
            </p>
        </div>

        <div class="mt-4 sm:mt-4">
            <app-select label="Período Letivo" formControlName="turno" id="turno" [showError]="getShowError('turno')">
            </app-select>
            <p *ngIf="getErrorMessage('turno', 'Período Letivo')" class="text-red-500">
                {{ getErrorMessage('turno', 'Período Letivo')}}
            </p>
        </div>

        <div class="mt-4 sm:mt-4">
            <app-select label="Ensino" formControlName="ensino" id="ensino" [showError]="getShowError('ensino')">
            </app-select>
            <p *ngIf="getErrorMessage('ensino', 'Ensino')" class="text-red-500">
                {{ getErrorMessage('ensino', 'Ensino')}}
            </p>
        </div>

        <div class="mt-4 sm:mt-4">
            <app-input-component label="Identificador de turma" formControlName="identificador" id="identificador" [showError]="getShowError('identificador')">
            </app-input-component>

            <p *ngIf="getErrorMessage('identificador', 'Identificador de turma')" class="text-red-500">
                {{ getErrorMessage('identificador', 'Identificador de turma')}}
            </p>
        </div>

        <div class="w-1/2 m-auto mt-3">
            <app-button buttonStyle="full" title="Cadastrar" (click)="onSubmit()"></app-button>
        </div>
    </form>
</div>